<div class="container">
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <kendo-chart [title]="chartTitle">
                <kendo-chart-series>
                    <kendo-chart-series-item type="column" [data]="publishers" field="noOfEmployees"
                        categoryField="name">
                    </kendo-chart-series-item>
                </kendo-chart-series>
            </kendo-chart>
        </div>
        <div class="col-md-6 col-sm-12">
        </div>
    </div>
</div>
